footer{
    background: rgb(67, 90, 201);
    height: 400px;
    width: 100%;
    margin-top: 10rem;
}

.footer-container{
    color: white;
    display: grid;
    gap: 10rem;
    margin-left: 50px;
    grid-template-columns: repeat(4,1fr);
}
.footer-container .div{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.subscribe-input{
  
    padding: 10px 15px;
    outline: none;
    border-radius: 8px;
    border: none;
    
}
.subscribe-btn{
    background: rgb(76, 76, 76);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
   
}
.sub-subs-container{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-right: 20px;
}

.subscribe-container{
    margin-top: 30px;
}
.iconImageContainer{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 0.3rem;
}
.iconImageContainer .iconImage{
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    border-radius: 50%;
    padding: 8px 8px;

}
.iconImageContainer .iconImage img{
    width: 28px;
    height: 28px;
}
.social{
    margin-top: 20px;
}
.line{
    background-color: rgb(198, 198, 198);
    height: 0.3px;
    width: 80%;
    margin: 0 auto;

}
.copywright p{
    color: white;
}
.line-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.linnn{
    display: flex;
    gap: 8rem;
}
.div h4{
    white-space: nowrap;
}

@media screen and (width<760px){
    /* .footer-container{
        color: white;
        display: grid;
        gap: 1rem;
        margin-left: 50px;
        grid-template-columns: repeat(2,1fr);
    }

    .subscribe-input{
  
        padding: 7px 3px;
    }
    .sub-subs-container{
        display: flex;
        flex-direction: column;
    }
    .footer-container{
        margin-left: 5px;
        
    }
    footer{
     height: fit-content;
    } */
    .footer-container{
        margin-left: 5px;
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
        margin-top: 40px;
    }
    .div h1{
        display: none;
    }
    .linnn{
        display: flex;
        margin-bottom: 80px;
        margin-left: 40px;
        gap: 2rem;
    }
    .subscribe-container{
        position: relative;
        margin-left: 80px;
    }
    .footer-container .div{
        margin-top: 0px;
        margin-left: 40px;
    }
    
    .iconImageContainer{
        margin-bottom: 0px;
    }

    .line-container{
        display: flex;
        gap: 2rem;
       
    }
   
    footer{
        height: fit-content;
        margin: 0 auto;
       } 

       .copywright p{
        margin-bottom: 20px;
       }
    .social{
        position: absolute;
        bottom: -250px;
        left: -10px;
        margin-bottom: 0px;
    }
}
